body{
    background: url('../images/bg2.jpg'); 
    background-size: cover;
}
.ctgbar{
    width: 20%;
    border:1px solid black; 
    background-color:lightgray;
}
.bookbox{
    width: 80%;
    background-color: whitesmoke;
}
.btitle h1{
    font-size: 30px;
    color: black;
    border-bottom: 2px solid black;
}

.lgi1:hover{
    border: 1px solid black;
    background-color:buttonface;
}
.hid_text{
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 16ch;
}